<div style="display: flex; justify-content: center; align-content: center; height: 100vh; background-image: url('../../assets/landing-page-image.jpg' ); background-size: cover; background-position: center center; background-repeat: no-repeat; ">
<div style="z-index: 1; display: flex; flex-wrap: wrap; justify-content: center; align-content: center;">
    <div id="info" class="ontop-layer-1 center-div-child card text-white bg-primary" style="height: fit-content; max-height: 100%; width: fit-content; min-height: 35vh; min-width: 35vh; max-width: 80vh; opacity: 90%; padding: 20px;">
        
        <div class="info-header-primary" style="display: flex; opacity: 90%; justify-content: center; max-height: 100%;">
            <h2 style="text-align: center;">
                Welcome to Recipe Finder
            </h2>

        </div>
        <div class="card-body" style="display: flex; flex-wrap: wrap; justify-content: center">
            <h3 style="display: flex; flex-wrap: wrap; text-align: center; justify-content: space-evenly;align-items: center; text-align: center; @media(max-width:20px) {
                h3 {
                    font-size: 14px     

                }
                
            }">
                Enter any food / ingredient in the search bar down below, and get a list of potential recipes to cook from.
            </h3>
        </div>
        
</div>
</div>
</div>